.cta {
    padding: 15px;
    background: #000000;
    color: #ffffff;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 95%;
    border-radius: 30px;
    font-family: Poppins;
    font-weight: 600;
    font-size: large;
}
