.cta {
    padding: 5px;
    background: #000000;
    color: #ffffff;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-radius: 30px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
}
