.bg {
    background: #000000;
    color: #ffffff;
}

input {
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}

.button__email {
    padding: 10px;
    border-radius: 20px;
    background: #d6f4fb;
}
